* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    text-align: center;
}

.file_choose {
    margin: 1rem;
    width: 15%;
}

.search {
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1rem;
    margin: 1rem auto;
    border: none;
    width: 0px;
    transition: all 500ms ease-in;
    outline: none;
    border-radius: 16px;
}

.box {
    width: 80%;
    border: 1px solid #000;
    padding: 1.5rem;
    margin-top: 1rem;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0.5rem;
}

.subtitle {
    margin-bottom: 0.5rem;
}

.occurences {
    font-weight: 600;
    margin-top: 1rem;
    background: #000;
    color: #fff;
    border-radius: 16px;
    padding: 0.75rem;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox:hover>.search {
    width: 240px;
    background: #000;
    color: #fff;
}

.search-btn {
    width: 100%;
    height: 2rem;
    width: 2rem;
    margin-left: -35px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in;
    border-radius: 50%;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .file_choose {
        width: 45%;
    }
}